{
  "timerDescriptors": [
    {
      "id": "123e4567-e89b-12d3-a456-426614174000",
      "modified": "false",
      "routingEntry": {
        "methods": [
          "POST"
        ],
        "pathPattern": "/testb/timer/20",
        "unit": "second",
        "delay": "20"
      }
    },
    {
      "id": "123e4567-e89b-12d3-a456-426614174001",
      "modified": "false",
      "routingEntry": {
        "methods": [
          "POST"
        ],
        "pathPattern": "/testb/timer/1",
        "schedule": {
          "cron": "*/1 * * * *"
        }
      }
    },
    {
      "id": "123e4567-e89b-12d3-a456-426614174002",
      "modified": "false",
      "routingEntry": {
        "methods": [
          "POST"
        ],
        "pathPattern": "/testb/timer/3",
        "schedule": {
          "cron": "*/3 * * * *"
        }
      }
    },
    {
      "id": "123e4567-e89b-12d3-a456-426614174003",
      "modified": "false",
      "routingEntry": {
        "methods": [
          "POST"
        ],
        "pathPattern": "/testb/timer/4",
        "schedule": {
          "cron": "0 6,18 * * *",
          "zone": "CET"
        }
      }
    }
  ],
  "totalRecords": 4
}

